BasedOnStyle: LLVM
IndentWidth: 4

Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
AlignAfterOpenBracket: Align
AccessModifierOffset: -4
AlignArrayOfStructures: Left
AlignOperands: BreakBeforeBinaryOperators

BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel: false
    AfterClass: false
    AfterControlStatement: Never
    bool AfterEnum: false
    
