*.temp
*.db
*.xml
#exclude path configuration
!sourcecode/DATABASE-CTRL/config.xml

sourcecode/.vs/
sourcecode/.binaries/
sourcecode/.binaries-int/

sourcecode/include/gitmodules/

#Thanks VS2022
*.user
