[submodule "sourcecode/include/gitmodules/pugixml"]
	path = sourcecode/include/gitmodules/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "sourcecode/include/gitmodules/tracy"]
	path = sourcecode/include/gitmodules/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "sourcecode/include/gitmodules/CLI11"]
	path = sourcecode/include/gitmodules/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "sourcecode/include/gitmodules/wxWidgets"]
	path = sourcecode/include/gitmodules/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "sourcecode/include/gitmodules/openssl"]
	path = sourcecode/include/gitmodules/openssl
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.5
[submodule "sourcecode/include/gitmodules/libcorrect"]
	path = sourcecode/include/gitmodules/libcorrect
	url = https://github.com/quiet/libcorrect.git
